<div class="ui form segment" id="taskForm">
  <h3 class="ui violet header">Add new task</h3>
  <div class="field">
    <input type="text" name="title" placeholder="Task title">
  </div>
  <div class="field">
    <textarea rows='2' name="description" placeholder="Task description"></textarea>
  </div>
  <div class="field">
    <select name="priority" class="ui dropdown">
      <option value="">Select priority</option>
      <option value="low"><i class="teal circle icon"></i>Low</option>
      <option value="medium"><i class="yellow circle icon "></i>Medium</option>
      <option value="high"><i class="red circle icon"></i>High</option>
    </select>
  </div>
  <div class="field">
    <input type="text" name="sprint" placeholder="Sprint : yy/mm/dd">
  </div>
  <div class="field">
    <input type="number" name="effortNeeded" placeholder="Estimated effort in hours">
  </div>
  <div class="field">
    <select name="type" class="ui dropdown">
      <option value="">Select the type of the task</option>
      <option value="frontend">Frontend</option>
      <option value="backend">Backend</option>
      <option value="devops">Devops</option>
      <option value="management">Management</option>
    </select>
  </div>
  <div class="field">
    <select name="tags" class="ui selection dropdown">
      <option value="">Choose tags</option>
    </select>
  </div>
  <button class="ui submit button" >Submit</button>
</div>