<div class="ui stackable grid">
  <div class="middle aligned three column row" style="height:80vh">
    <div class="column"></div>
    <div class="column">
      <div class="ui violet form segment" id="loginForm">
        <h3 class="ui violet header">Login</h3>
        <div class="field">
          <label>Email</label>
          <input type="email" name="userName" placeholder="UserName / Email ID">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="text" name="password" placeholder="Password">
        </div>
        <button class="ui submit button" >Login</button>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>