<!-- 

<mat-expansion-panel>
  <mat-expansion-panel-header>
      {{task.title}}
  </mat-expansion-panel-header>
  <mat-panel-description>
      {{task.type}}
      <i class="right floated {{task.priority === 'high'? 'red': (task.priority == 'medium' ? 'yellow': 'teal')}} circle icon"></i>
  </mat-panel-description>
  
</mat-expansion-panel> -->