<div class="ui stackable grid basic segment">
  <div class="row">
    <div class="six wide column">
      <app-create-todo></app-create-todo>
    </div>
    <div class="ten wide column">
      <app-list-todos></app-list-todos>
    </div>
  </div>
</div>