<div class="ui middle aligned animated selection list" *ngFor="let user of data.user">
    <div class="item" (click)="assignUser(user,data.taskId)">
      <img class="ui avatar image" src="{{user.image}}">
      <div class="content">
        <div class="header">{{user.name}}</div>
        <div class="description">{{user.role}}</div>
      </div>
    </div>
  </div>


<!---
  <div class="item">
    <img class="ui avatar image" src="../assets/GitHub-Mark-32px.png">
    <div class="content">
      <div class="header">Nawazulla Shariff</div>
      <div class="description">Frontend Developer</div>
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="../assets/GitHub-Mark-32px.png">
    <div class="content">
      <div class="header">Yeshwanth Naidu</div>
      <div class="description">Backend Developer</div>
    </div>
  </div>

  -->