<h3 class="ui violet header">Task list</h3>
<div class="">
  <div class="ui fluid card" *ngFor="let task of tasks">
    <div class="content">
        
          <i class="home icon right floated" [matMenuTriggerFor]="menu"></i>
        
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item (click)="onDelete(task.id)">Delete</button>
        </mat-menu>
      <span class="right floated date sprintClass">{{task.sprint}}</span>
      <i
        class="right floated {{task.priority === 'high'? 'red': (task.priority == 'medium' ? 'yellow': 'teal')}} circle icon"></i>
      <div class="header">{{task.title}}</div>
      <div class="meta">{{task.type}}</div>
      <div class="description">{{task.description}}</div>
    </div>
    <div class="extra content">
      <span class="date">{{task.effortNeeded}} Hours</span>
      <!-- <span class="right floated meta">{{task.assignedTo}}</span> -->
      <div class="ui tiny right floated green basic button" (click)="assignTask(task.id)">Assign</div>
    </div>
  </div>

  <!-- <app-show-todo [task]="task"></app-show-todo> -->
</div>